__pycache__/
*.py[cod]

.ipynb_checkpoints/
*.ipynb

data/*
!data/.gitkeep
hf_cache/
milvus_data/
milvus_lite_data.db/
test_milvus_lite.db/
*.db
*.db.lock
*.sqlite

*.zip
*.gz
*.7z

.idea/
*.iml
.DS_Store

*.log
streamlit.out.log
streamlit.err.log

.env
.env.*
!.env.example
